@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
html {
  height: 100%;
  font-size: 67%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #e67e22;
  border-radius: 5rem;
}

main {
  min-height: 75rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  padding: 4rem 0 2rem 0;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}
.heading span {
  color: #e67e22;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  transition: 0.2s linear;
  clip-path: circle(0% at 0% 5%);
}
.btn:hover::before {
  clip-path: circle(100%);
}
.btn:hover {
  color: #fff;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}
.header .logo i {
  color: #e67e22;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}
.header .navbar a:hover {
  color: #e67e22;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons a, .header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}
.header .icons a:hover, .header .icons div:hover {
  color: #e67e22;
}
.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
  z-index: 1000;
}
.header .login-form.active {
  display: block;
  animation: fadeIn 0.4s linear;
}
.header .login-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.header .login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.header .login-form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.header .login-form .checkbox label {
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
}
.header .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.header .login-form .btn:hover {
  background: #130f40;
}
.header .login-form .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.header .login-form .links div {
  font-size: 1.4rem;
  color: #e67e22;
}
.header .login-form .links div:hover {
  color: #130f40;
  text-decoration: underline;
  cursor: pointer;
}
.header .login-form .errors {
  color: red;
}
.header .reg-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
  z-index: 1000;
}
.header .reg-form.active {
  display: block;
  animation: fadeIn 0.4s linear;
}
.header .reg-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.header .reg-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.header .reg-form .birthday {
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.header .reg-form .birthday input {
  font-size: 1.6rem;
  color: #666;
}
.header .reg-form .birthday label {
  font-size: 1.6rem;
  color: #666;
}
.header .reg-form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.header .reg-form .checkbox label {
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
}
.header .reg-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.header .reg-form .btn:hover {
  background: #130f40;
}
.header .reg-form .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.header .reg-form .links div {
  font-size: 1.4rem;
  color: #e67e22;
}
.header .reg-form .links div:hover {
  color: #130f40;
  cursor: pointer;
  text-decoration: underline;
}
.header .reg-form .errors {
  color: red;
}
.header .cart-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 40rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
  z-index: 1000;
}
.header .cart-form.active {
  display: block;
  animation: fadeIn 0.4s linear;
}
.header .cart-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.header .cart-form .box-cart {
  display: grid;
  grid-template-columns: 5rem 15rem 10rem 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  font-size: 1.6rem;
  overflow: hidden;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.header .cart-form .box-cart .image {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
}
.header .cart-form .box-cart .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header .cart-form .box-cart h3 {
  color: #130f40;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
.header .cart-form .box-cart span {
  font-size: 2rem;
  color: #e67e22;
}
.header .cart-form .box-cart .delet-items {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  color: red;
  background: #fff;
}
.header .cart-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.header .cart-form .btn:hover {
  background: #130f40;
}

.home {
  min-height: 92.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(../images/front/home.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.home .content {
  width: 50rem;
}
.home .content h3 {
  font-size: 4rem;
  color: #fff;
  padding-bottom: 1rem;
}
.home .content h3 span {
  color: #e67e22;
}
.home .content .btn {
  color: #fff;
  border-color: #fff;
}
.home .content .btn:hover {
  color: #e67e22;
}
.home .content .btn::before {
  background: #fff;
}

.shop {
  display: flex;
}
.shop .category h4 {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  color: #e67e22;
}
.shop .category .navbar-category {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30rem;
}
.shop .category .navbar-category div {
  height: 4rem;
  font-size: 1.9rem;
  color: #130f40;
}
.shop .category .navbar-category div:hover {
  color: #e67e22;
  cursor: pointer;
}
.shop .box-container {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  gap: 1.5rem;
}
.shop .box-container .box {
  position: relative;
  overflow: hidden;
}
.shop .box-container .box:hover .image img {
  transform: scale(1.1);
}
.shop .box-container .box:hover .icons {
  transform: translateX(1rem);
}
.shop .box-container .box .image {
  height: 15rem;
  width: 100%;
  overflow: hidden;
}
.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.shop .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  transform: translateX(10rem);
}
.shop .box-container .box .icons a {
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin-top: 1rem;
  background: #fff;
  color: #130f40;
  text-align: center;
}
.shop .box-container .box .icons a:hover {
  color: #fff;
  background: #e67e22;
}
.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
  margin: 0 1rem;
}
.shop .box-container .box .content h4 {
  font-size: 1.5rem;
  color: #130f40;
}
.shop .box-container .box .content .amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  color: #e67e22;
  margin: 0 1.5rem;
}
.shop .box-container .box .content .amount div {
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  background: #fff;
  color: green;
  text-align: center;
}
.shop .box-container .box .content .amount div:hover {
  color: #fff;
  border-radius: 5rem;
  background: rgba(3, 177, 3, 0.5);
}
.shop .box-container .box .content .amount h4 {
  color: #e67e22;
  font-size: 2.1rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 1.5rem;
  justify-content: center;
}
.services .box-container .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30%/30% 30% 70% 70%;
}
.services .box-container .box:nth-child(even) {
  border-radius: 79% 21% 81% 19%/58% 93% 7% 42%;
}
.services .box-container .box:hover {
  border-radius: 0.5rem;
}
.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background: #e67e22;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.services .box-container .box .amount {
  font-size: 3rem;
  font-weight: bolder;
  color: #130f40;
}
.services .box-container .box .amount span {
  font-size: 2rem;
}

.hotel .box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 1.5rem;
}
.hotel .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 2rem;
  background: #eee;
}
.hotel .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  background: #fff;
}
.hotel .box-container .box .title {
  text-align: center;
  color: #e67e22;
  font-size: 2rem;
}
.hotel .box-container .box .day {
  text-align: center;
  color: #130f40;
  font-size: 3.5rem;
}
.hotel .box-container .box .icon {
  color: #e67e22;
  font-size: 5rem;
  padding: 2rem 0;
}
.hotel .box-container .box .list {
  margin: 1rem 0;
}
.hotel .box-container .box .list p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.hotel .box-container .box .list p span {
  color: #e67e22;
}
.hotel .box-container .box .amount {
  font-size: 5rem;
  font-weight: bolder;
  color: #130f40;
}
.hotel .box-container .box .amount span {
  font-size: 3rem;
}

.contact {
  padding: 10rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.contact .image {
  width: 70rem;
}
.contact .image img {
  width: 100%;
}
.contact .contact-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem 7%;
}
.contact .contact-list h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}
.contact .contact-list .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.2rem;
  font-size: 2rem;
  text-transform: none;
  color: #130f40;
  margin: 2rem 0;
}

footer {
  position: relative;
  background: url("../images/front/footer_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
}
footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 13rem;
  width: 100%;
}
footer .share {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
}
footer .share a {
  color: #fff;
  border-color: #fff;
}
footer .share a:hover {
  color: #e67e22;
}
footer .share a::before {
  background: #fff;
}
footer .share a i {
  padding-right: 1rem;
}
footer .credit {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  margin-top: 0.5rem;
}
footer .credit span {
  color: #e67e22;
}

.cart {
  display: flex;
  margin: 3rem 0 5rem 0;
}
.cart .shopping-cart {
  width: 100rem;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: 0 9% 0 5%;
  display: flex;
  flex-direction: column;
}
.cart .shopping-cart .title {
  border-bottom: 2px solid #E1E8EE;
  font-size: 2.5rem;
}
.cart .shopping-cart .title h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding: 2rem;
}
.cart .shopping-cart .item {
  padding: 1.3rem 1.9rem;
  height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E1E8EE;
}
.cart .shopping-cart .buttons {
  position: relative;
  width: 3rem;
  text-align: center;
  color: red;
  font-size: 2.5rem;
}
.cart .shopping-cart .is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
.cart .shopping-cart .image {
  height: 7rem;
  width: 10rem;
  overflow: hidden;
  margin-right: 3rem;
}
.cart .shopping-cart .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cart .shopping-cart .quantity {
  margin-right: 4rem;
}
.cart .shopping-cart .description {
  margin-right: 4rem;
  width: 39rem;
  height: 7rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  overflow: hidden;
}
.cart .shopping-cart .description span {
  display: block;
  font-size: 0.9rem;
  color: #43484D;
}
.cart .shopping-cart .description span:first-child {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}
.cart .shopping-cart .description span:last-child {
  margin-top: 0.5rem;
  color: #86939E;
  font-size: 1.5rem;
}
.cart .shopping-cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 2rem;
  font-size: 2rem;
  color: #43484D;
}
.cart .shopping-cart button[class*=btn] {
  width: 3rem;
  height: 3rem;
  background-color: #E1E8EE;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.cart .shopping-cart .minus-btn img {
  margin-bottom: 0.2rem;
}
.cart .shopping-cart .plus-btn img {
  margin-top: 0.1rem;
}
.cart .shopping-cart button:focus,
.cart .shopping-cart input:focus {
  outline: 0;
}
.cart .shopping-cart .price {
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  color: #43484D;
  margin-right: 4rem;
}
.cart .shopping-cart .item-total {
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  color: #43484D;
  font-weight: bold;
}
.cart .shopping-cart .total-order {
  display: flex;
  align-self: flex-end;
  align-items: center;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 4rem;
}
.cart .delivery-form {
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  z-index: 100;
}
.cart .delivery-form.active {
  display: block;
  animation: fadeIn 0.4s linear;
}
.cart .delivery-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.cart .delivery-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.cart .delivery-form .delivery-date {
  border-bottom: 0.2rem solid #130f40;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}
.cart .delivery-form .delivery-date input {
  font-size: 1.6rem;
  color: #666;
}
.cart .delivery-form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.cart .delivery-form .checkbox label {
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
}
.cart .delivery-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.cart .delivery-form .btn:hover {
  background: #130f40;
}
.cart .delivery-form .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.cart .delivery-form .links div {
  font-size: 1.4rem;
  color: #e67e22;
}
.cart .delivery-form .links div:hover {
  color: #130f40;
  cursor: pointer;
  text-decoration: underline;
}
.cart .delivery-form label {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
